{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <!-- Section d'en-tête avec un fond gris clair -->
    <header id="home" class="bg-gray-100 py-20">
        <div class="max-w-4xl mx-auto text-center">
            <h1 class="text-4xl font-bold underline">Mon Portfolio</h1>
            <p class="mt-4 text-lg text-gray-600">Bienvenue sur mon portfolio. Découvrez mes projets et mes compétences en développement.</p>
        </div>
    </header>

    <!-- Espace entre les sections -->
    <div class="h-20 bg-gray-100"></div>

    <!-- Section "À propos de moi" -->
    <section id="about" class="py-16 bg-white">
        <div class="max-w-4xl mx-auto px-4">
            <h2 class="text-3xl font-semibold mb-6 text-center">À propos de moi</h2>
            <div class="flex flex-col md:flex-row items-center md:justify-around gap-4">
                <img src="/images/1675614103076.jpg" alt="Photo de Rémi Guérin" class="w-32 h-32 rounded-full mb-4 md:mb-0 mr-1">
                <div class="text-lg text-gray-700 text-center md:text-left">
                    <p>Bonjour ! Je suis Rémi Guérin, étudiant en développement. Actuellement en deuxième année de BTS SIO option SLAM à l'Institut Informatique Appliquée de Laval, j'ai acquis des compétences en HTML, CSS, JavaScript, PHP, SQL, Git, Wordpress, et Symfony.</p>
                    <p>Je suis autonome, je m'adapte et je suis toujours prêt à remettre en question mes connaissances pour m'améliorer.</p>
                </div>
            </div>
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                <a href="/files/CV.pdf" target="_blank" class="font-semibold text-center">Mon CV</a>
            </button>
        </div>
    </section>

    <!-- Espace entre les sections -->
    <div class="h-20 bg-gray-100"></div>

    <!-- Section d'en-tête avec un fond gris clair -->
    <header id="home" class="bg-gray-100 py-20">
        <div class="max-w-4xl mx-auto text-center">
            <h2 class="text-3xl font-semibold mb-6 text-center">BTS SIO</h2>
            <p class="mt-4 text-lg text-gray-600">Le BTS SIO (Services Informatiques aux Organisations) est un diplôme de niveau Bac+2.</p>
            <p class="text-lg text-gray-600">Il forme des experts en informatique, compétents aussi bien en développement qu'en administration et maintenance des réseaux informatiques.</p>
        </div>
    </header>

    <!-- Espace entre les sections -->
    <div class="h-20 bg-gray-100"></div>

    <!-- Section "À propos de moi" -->
    <section id="about" class="py-16 bg-white">
        <div class="max-w-4xl mx-auto px-4">
            <h2 class="text-3xl font-semibold mb-6 text-center">Les options</h2>
            <div class="flex flex-col md:flex-row items-center md:justify-around gap-4">
                <div class="text-lg text-gray-700 text-center md:text-left">
                    <h2 class="text-2xl font-semibold mb-6 text-center">Option SLAM</h2>
                    <p>L’option Solutions logicielles et applications métiers forme des spécialistes des logiciels (rédaction d’un cahier des charges, formulation des besoins et spécifications, développement, intégration au sein de la société). Les techniciens supérieurs en informatique option SLAM, sont préparés aux métiers de :</p>
                    <ul class="list-disc">
                        <li>Développeur Web</li>
                        <li>Développeur d'applications lourdes</li>
                    </ul>
                </div>
                <div class="text-lg text-gray-700 text-center md:text-left">
                    <h2 class="text-2xl font-semibold mb-6 text-center">Option SISR</h2>
                    <p>L’option Solutions d’infrastructure, systèmes et réseaux prépare des spécialistes en réseaux et équipements informatiques (installation, maintenance, sécurité). En obtenant un BTS SIO option SISR, vous serez en mesure de gérer et administrer le réseau d’une organisation tout en garantissant sa sécurité et sa maintenance. Les titulaires du BTS SIO option SISR peuvent exercer les métiers suivants :</p>
                    <ul class="list-disc">
                        <li>Administrateur systèmes et réseaux</li>
                        <li>Support systèmes et réseaux</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Espace entre les sections -->
    <div class="h-20 bg-gray-100"></div>

    <!-- Section "Mes Stages" -->
    <section id="projects" class="py-16 bg-gray-100">
        <div class="max-w-4xl mx-auto px-4">
            <h2 class="text-3xl font-semibold mb-6 text-center">Mes Projets</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
                <div class="relative overflow-hidden rounded-lg shadow-lg group">
                    <a href="https://github.com/TYrueouJeL/WorkTogether" target="_blank">
                        <img src="/images/worktogetherweb.png" alt="Worktogether (Client léger)" class="w-full h-64 object-contain transition-transform duration-300 transform group-hover:scale-105" width="800" height="600">
                        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <h3 class="text-white text-2xl font-semibold">Worktogether (Client léger)</h3>
                        </div>
                        <div class="text-lg text-gray-700 text-center md:text-left">
                            <h2 class="text-2xl font-semibold mb-6 text-center">Worktogether (Client léger)</h2>
                            <p>Worktogether Web est un site permettant de réserver et de gérer des unités dans des baies informatiques.</p>
                            <p>Technologies :</p>
                            <ul>
                                <li>Symfony</li>
                                <li>MySql</li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="relative overflow-hidden rounded-lg shadow-lg group">
                    <a href="https://github.com/TYrueouJeL/W2G" target="_blank">
                        <img src="/images/worktogetherdesktop.png" alt="Worktogether (Projet lourd)" class="w-full h-64 object-contain transition-transform duration-300 transform group-hover:scale-105" width="800" height="600">
                        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <h3 class="text-white text-2xl font-semibold">Worktogether (Projet lourd)</h3>
                        </div>
                        <div class="text-lg text-gray-700 text-center md:text-left">
                            <h2 class="text-2xl font-semibold mb-6 text-center">Worktogether (Projet lourd)</h2>
                            <p>Worktogether Desktop est un logiciel permettant à des administrateurs de gérer les offres disponibles et à des techniciens de noter les interventions faites sur les unités.</p>
                            <p>Technologies :</p>
                            <ul>
                                <li>C# WPF</li>
                                <li>MySql</li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="relative overflow-hidden rounded-lg shadow-lg group">
                    <a href="https://github.com/TYrueouJeL/Portfolio" target="_blank">
                        <img src="/images/portfolio.png" alt="Portfolio" class="w-full h-64 object-contain transition-transform duration-300 transform group-hover:scale-105" width="800" height="600">
                        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <h3 class="text-white text-2xl font-semibold">Portfolio</h3>
                        </div>
                        <div class="text-lg text-gray-700 text-center md:text-left">
                            <h2 class="text-2xl font-semibold mb-6 text-center">Portfolio</h2>
                            <p>Portfolio en ligne</p>
                            <p>Technologies :</p>
                            <ul>
                                <li>Symfony</li>
                                <li>Serveur Web Apache</li>
                            </ul>
                        </div>
                    </a>
                </div>
                <div class="relative overflow-hidden rounded-lg shadow-lg group">
                    <a href="https://github.com/TYrueouJeL/Ilyn-Revival" target="_blank">
                        <img src="/images/ilynrevival.png" alt="Ilyn Revival" class="w-full h-64 object-contain transition-transform duration-300 transform group-hover:scale-105" width="800" height="600">
                        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <h3 class="text-white text-2xl font-semibold">Ilyn Revival</h3>
                        </div>
                        <div class="text-lg text-gray-700 text-center md:text-left">
                            <h2 class="text-2xl font-semibold mb-6 text-center">Ilyn Revival</h2>
                            <p>Ilyn Revival est un RPG sous forme de bot discord.</p>
                            <p>Technologies :</p>
                            <ul>
                                <li>Javascript</li>
                                <li>Node</li>
                                <li>MySql</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Espace entre les sections -->
    <div class="h-20 bg-gray-100"></div>

    <!-- Section "Mes Stages" -->
    <section id="internships" class="py-16 bg-white">
        <div class="max-w-4xl mx-auto px-4">
            <h2 class="text-3xl font-semibold mb-6 text-center">Mes Stages</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
                <!-- Carte de stage 1 -->
                <div class="relative overflow-hidden rounded-lg shadow-lg group">
                    <a href="/RPE">
                        <img src="/images/rpevaldize.jpg" alt="Stage Relais Petite Enfance" class="w-full h-64 object-contain transition-transform duration-300 transform group-hover:scale-105" width="800" height="600">
                        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <h3 class="text-white text-2xl font-semibold">Relais Petite Enfance</h3>
                        </div>
                        <div class="text-lg text-gray-700 text-center md:text-left">
                            <h2 class="text-2xl font-semibold mb-6 text-center">Relais Petite Enfance</h2>
                            <p>Le Relais Petite Enfance est un lieu d'accueil des nouveaux ou futurs parents où les parents peuvent poser des questions et sont accompagnés pour gérer la garde de leur enfant.</p>
                            <p>Mes missions :</p>
                            <ul>
                                <li>Réparation du site vitrine</li>
                                <li>Rédaction d'une documentation utilisateur</li>
                            </ul>
                        </div>
                    </a>
                </div>
                <!-- Carte de stage 2 -->
                <div class="relative overflow-hidden rounded-lg shadow-lg group">
                    <a href="/KIRSCH">
                        <img src="/images/KIRSCH.png" alt="Stage Ets KIRSCH" class="w-full h-64 object-contain transition-transform duration-300 transform group-hover:scale-105" width="800" height="600">
                        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <h3 class="text-white text-2xl font-semibold">Ets Kirsch</h3>
                        </div>
                        <div class="text-lg text-gray-700 text-center md:text-left">
                            <h2 class="text-2xl font-semibold mb-6 text-center">Ets Kirsch</h2>
                            <p>Ets Kirsch est une entreprise de service informatique qui conseil et assure la maintenance informatique pour des entreprises.</p>
                            <p>Mes missions :</p>
                            <ul>
                                <li>Étude comparative de technologies</li>
                                <li>Réalisation de prototypes</li>
                                <li>Rédaction d'une documentation technique</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

{#    <!-- Section "Contact" -->#}
{#    <section id="contact" class="py-16 bg-white">#}
{#        <div class="max-w-4xl mx-auto px-4">#}
{#            <h2 class="text-3xl font-semibold mb-6 text-center">Contact</h2>#}
{#            <form action="#" method="post" class="space-y-4">#}
{#                <div>#}
{#                    <label for="name" class="block text-lg font-medium text-gray-700">Nom</label>#}
{#                    <input type="text" id="name" name="name" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">#}
{#                </div>#}
{#                <div>#}
{#                    <label for="email" class="block text-lg font-medium text-gray-700">Email</label>#}
{#                    <input type="email" id="email" name="email" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">#}
{#                </div>#}
{#                <div>#}
{#                    <label for="message" class="block text-lg font-medium text-gray-700">Message</label>#}
{#                    <textarea id="message" name="message" rows="4" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>#}
{#                </div>#}
{#                <div class="text-center">#}
{#                    <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">#}
{#                        Envoyer#}
{#                    </button>#}
{#                </div>#}
{#            </form>#}
{#        </div>#}
{#    </section>#}

    <!-- Espace entre les sections -->
    <div class="h-20 bg-gray-100"></div>

    <!-- Section "Mes Stages" -->
    <section id="projects" class="py-16 bg-gray-100">
        <div class="max-w-4xl mx-auto px-4">
            <h2 class="text-3xl font-semibold mb-6 text-center">Veille technologique</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
                <!-- Carte de stage 1 -->
                <div class="relative overflow-hidden rounded-lg shadow-lg group">
                    <a href="https://www.youtube.com/@Underscore_" target="_blank">
                        <img src="/images/underscore.png" alt="Underscore_" class="w-full h-64 object-contain transition-transform duration-300 transform group-hover:scale-105" width="800" height="600">
                        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <h3 class="text-white text-2xl font-semibold">Underscore_</h3>
                        </div>
                    </a>
                </div>
                <!-- Carte de stage 2 -->
                <div class="relative overflow-hidden rounded-lg shadow-lg group">
                    <a href="https://grafikart.fr" target="_blank">
                        <img src="/images/grafikart.jpg" alt="Grafikart" class="w-full h-64 object-contain transition-transform duration-300 transform group-hover:scale-105" width="800" height="600">
                        <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                            <h3 class="text-white text-2xl font-semibold">Grafikart</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
