{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <section id="about" class="py-16 bg-white">
        <div class="max-w-4xl mx-auto px-4">
            <h2 class="text-3xl font-semibold mb-6 text-center">Établissements KIRSCH</h2>
            <div class="flex flex-col md:flex-row items-center md:justify-around gap-4">
                <div class="text-lg text-gray-700 text-center md:text-left">
                    <p>Date : 15/01/2025 au 28/02/2025</p>
                    <p>Mission :</p>
                    <ul>
                        <li>Recherche de technologies de développement mobile</li>
                        <li>Test de différentes technologies</li>
                        <li>Écriture d'une documentation technique et d'une étude comparative</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}