{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <section id="about" class="py-16 bg-white">
        <div class="max-w-4xl mx-auto px-4">
            <h2 class="text-3xl font-semibold mb-6 text-center">Relais petite enfance de val d'izé</h2>
            <div class="flex flex-col md:flex-row items-center md:justify-around gap-4">
                <div class="text-lg text-gray-700 text-center md:text-left">
                    <p>Date : 08/05/2024 au 07/06/2024</p>
                    <p>Mission :</p>
                    <ul>
                        <li>Réparation du site web</li>
                        <li>Ajout de fonctionnalité</li>
                        <li>Écriture d'une documentation utilisateur</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
