# Activer la réécriture d'URL
RewriteEngine On

# Rediriger www vers non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Rediriger HTTP vers HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Gérer les erreurs 404
ErrorDocument 404 /404.html

# Bloquer l'accès aux fichiers sensibles
<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh|tpl|git|svn)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

# Paramètres de cache
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/pdf "access plus 1 month"
    ExpiresByType text/javascript "access plus 1 month"
    ExpiresByType text/html "access plus 1 second"
    ExpiresByType application/javascript "access plus 1 year"
</IfModule>