<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <!-- Navbar avec effet de réduction au défilement -->
    <nav id="navbar" class="fixed top-0 w-full bg-gray-800 text-white py-6 transition-all duration-300 z-10">
        <div class="max-w-4xl mx-auto flex justify-between items-center px-4">
            <div class="text-2xl font-bold"><a href="/">Mon Portfolio</a></div>
            <div class="space-x-4">
            </div>
        </div>
    </nav>

    <!-- Espace pour compenser la hauteur de la navbar -->
    <div class="h-20"></div>

    {% block body %}{% endblock %}
    </body>
</html>
