name: Deploy React App to Hostinger VPS

on:
    push:
        branches: [main]

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Build Docker Image
            env:
              VITE_GITHUB_TOKEN: ${{ secrets.VITE_GITHUB_TOKEN }}
            run: docker build -t ${{ secrets.DOCKER_USERNAME }}/portfolio:latest --build-arg VITE_GITHUB_TOKEN=${{ secrets.VITE_GITHUB_TOKEN }} .

          - name: Log in to Docker Hub
            run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

          - name: Push Docker Image to Docker Hub
            run: docker push ${{ secrets.DOCKER_USERNAME }}/portfolio:latest

          - name: Deploy on Hostinger VPS
            uses: appleboy/ssh-action@v1.1.0
            with:
              host: ${{ secrets.VPS_HOST }}
              username: ${{ secrets.VPS_USER }}
              password: ${{ secrets.VPS_PASSWORD }}
              script: |
                cd /home/${{ secrets.VPS_USER }}/portfolio || mkdir /home/${{ secrets.VPS_USER }}/portfolio && cd /home/${{ secrets.VPS_USER }}/portfolio
                echo "Pulling latest Docker image..."
                docker pull ${{ secrets.DOCKER_USERNAME }}/portfolio:latest
                echo "Stopping existing container..."
                docker-compose down || true
                docker-compose up -d